.select-input{
    &__label{
        display: block;
        font-weight: 500;
    }
    &__container{
        display: inline-block;
	    vertical-align: middle;
	    position: relative;
	    text-align: left;
	    background: #fff;
	    z-index: 100;
	    width: 100%;
        max-width: 500px;
        color: #ddd;
	    font-size: 1.5em;
	    width: 300px;
	    -webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
        user-select: none;
        
        &.active::before{
            -webkit-transform: scale3d(1.1,3.5,1);
	        transform: scale3d(1.1,3.5,1);
        }
        &::before{
            content: '';
	        background: #fff;
	        position: absolute;
	        width: 100%;
	        height: 100%;
	        top: 0;
	        left: 0;
	        -webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	        -webkit-transition: -webkit-transform 0.3s;
	        transition: transform 0.3s;
        }

        &:focus{
            outline: none;
        }

        &__placeholder{
            display: block;
	        position: relative;
	        cursor: pointer;
	        padding: 1em;
	        white-space: nowrap;
	        overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 3em;

            height: 80px;
	        line-height: 32px;
	        -webkit-transition: text-indent 0.3s, opacity 0.3s;
	        transition: text-indent 0.3s, opacity 0.3s;
        }

        &__placeholder::after,
        & .selected &__placeholder::after{
            speak: none;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        &__placeholder::after{
            content: '\25BE';
	        right: 1em;
        }

        & .selected &__placeholder::after{
            content: '\2713';
            margin-left: 1em;
        }
        &.active &__placeholder{
            -webkit-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
            text-indent: -290px;
	        opacity: 0;
        }

        &__placeholder::after,
        &.active &__placeholder::after{
            font-family: 'icomoon';
	        content: '\e00f';
	        color: #eb7e7f;
	        -webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
        }
        &.active &__placeholder::after{
            -webkit-transform: translate3d(0,-50%,0);
	        transform: translate3d(0,-50%,0);
        }

        &__options{
            position: absolute;
	        overflow: hidden;
	        background: #fff;
            visibility: hidden;
            
            background: transparent;
	        width: 70%;
	        height: 400%;
	        padding: 1.9em 0;
	        top: 50%;
	        left: 50%;
	        -webkit-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
            
            li{
                opacity: 0;
	            -webkit-transform: translate3d(30%,0,0);
	            transform: translate3d(30%,0,0);
	            -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
                transition: transform 0.3s, opacity 0.3s;
                
                span{
                    text-transform: uppercase;
	                font-weight: 500;
	                letter-spacing: 2px;
	                font-size: 65%;
	                padding: 0.8em 1em 0.8em 2.5em;
                }

                span:hover,
                &.focus span,
                &.selected span{
                    color: #eb7e7f;
	                background: transparent;
                }
            }
        }

        &.active &__options{
            visibility: visible;

            li{
                -webkit-transform: translate3d(0,0,0);
	            transform: translate3d(0,0,0);
                opacity: 1;
                
                &:first-child{
                    -webkit-transition-delay: 0.05s;
                    transition-delay: 0.05s;
                }
                &:nth-child(2){
                    -webkit-transition-delay: 0.1s;
                    transition-delay: 0.1s;
                }
                &:nth-child(3){
                    -webkit-transition-delay: 0.15s;
                    transition-delay: 0.15s;
                }
                &:nth-child(4){
                    -webkit-transition-delay: 0.2s;
                    transition-delay: 0.2s;
                }

            }
        }
        ul{
            list-style: none;
	        margin: 0;
	        padding: 0;
            width: 100%;
            span{
                padding: 1em
            }

            li.focus span{
                background-color: #ddd;
            }
        }
    }
}

@media screen and (max-width: 30em) {
    .select-input{
        &__container{ 
            font-size: 1em; 
            width: 250px; 
            &__placeholder{
                height: 60px; 
                line-height: 28px;
            }

            &__options{
                padding-top: 3em;
            }
        }
    }
}