.beneficiaries-form-page{
    display: block;
    width: 100%;
    padding: 20px;

    h2::after{
        content: "";
        display: block;
        margin-top: 5px;
        position: absolute;
        height: 2px;
        width: 80px;
        background: #2F746F;
    }

    &__container{
        height: calc(100vh - 230px);
        overflow: scroll;
    }
}

@media (min-height: 641px) {
    .beneficiaries-form-page{
        &__container{
            height: 426px
        }
    }
}